.accident-statistics {
  display: block;
  position: relative;
  height: 36px;
  margin: 67px 0 0 55px;
  color: #1a1c74;
  font-family: Inter, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
}
#statesikk_top {
  margin-bottom: 30px;
}
.icon {
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 11;
  overflow: hidden;
}
.icon-1 {
  position: relative;
  width: 29.667px;
  height: 34.362px;
  margin: 3.5px 0 0 5.167px;
  background: url(./assets/images/6be26a8e-3a4c-4b7f-9f2f-77ef5d41d2ab.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 12;
}
.icon-2 {
  position: relative;
  width: 32px;
  height: 31.986px;
  background: url(./assets/images/d8374879-4129-44f1-9ab6-2b03feb35d31.png)
    no-repeat center;
  background-size: cover;
  z-index: 13;
}

.antall_år {
  position: absolute;
  width: 55px;
  height: 28px;
  top: 133px;
  left: 310px;
  background: #1a1c74;
  z-index: 5;
  border-radius: 10px;
  color: white;
}
.antall_år:hover {
  background: gray;
}
.span {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  top: 8px;
  left: 7px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.polygon {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 9px;
  left: 38px;
  background: url(./assets/images/f3f68c9c-0141-4c27-b9ea-bc36fba4d4c0.png)
    no-repeat center;
  background-size: cover;
  z-index: 7;
}
.previous-accidents {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 138px;
  left: 31px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}
@import url("https://code.highcharts.com/css/highcharts.css");

body {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
}

:root,
.highcharts-light {
  /* Colors for data series and points */
  --highcharts-color-0: #69a285;
  --highcharts-color-1: #ffbb07;
  --highcharts-color-2: #727e8d;
  --highcharts-color-3: #fc6556;
  --highcharts-color-5: #404040;
  --highcharts-neutral-color-100: #000;
  --highcharts-neutral-color-5: #f2f2f2;
  --highcharts-neutral-color-3: #f7f7f7;
  --highcharts-neutral-color-0: #fff;

  /* General */
  --highcharts-background-color: #fff;

  /* Extra colors */
  --gray: #ccc;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Colors for data series and points */
    --highcharts-color-0: #93cbae;
    --highcharts-color-5: #c4c4c4;

    /* Extra colors */
    --gray: #333;

    /* UI colors */
    --highcharts-background-color: #333;
    --highcharts-neutral-color-100: rgb(255, 255, 255);
    --highcharts-neutral-color-5: rgb(61, 61, 61);
    --highcharts-neutral-color-3: rgb(57, 57, 57);
    --highcharts-neutral-color-0: rgb(0, 0, 0);
  }
}

#container {
  background-color: var(--highcharts-neutral-color-5);
  padding: 20px 10px;
  position: relative;
}

.row {
  display: flex;
  position: relative;
}

.cell {
  border: 1px solid transparent;
  border-radius: 10px;
  position: relative;
  min-width: 20px;
  height: 300px;
}

.highcharts-dashboards-component {
  color: var(--highcharts-neutral-color-100);
}

.highcharts-dashboards-component-title {
  font-size: 1.2em;
  text-align: left;
  margin: 1em;
}

.cell > .highcharts-dashboards-component {
  position: relative;
  background-color: var(--highcharts-background-color);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  margin: 5px;
  border-radius: 10px;
  overflow: hidden;
}

.dashboard-header .dashboard-title {
  padding-top: 20px;
}

.dashboard-header .dashboard-title,
.dashboard-header .dashboard-description {
  background-color: var(--highcharts-neutral-color-5);
  color: var(--highcharts-neutral-color-100);
  margin: 0;
  padding-left: 20px;
}

.highcharts-dashboards-component-kpi-content {
  display: flex;
  flex-direction: column;
}

.highcharts-dashboards-component.highcharts-dashboards-component-kpi-value {
  font-size: 4em;
  margin-top: 40px;
}

.highcharts-dashboards-component-kpi {
  text-align: center;
}

.highcharts-dashboards-component-kpi-content
  .highcharts-dashboards-component-subtitle {
  font-size: 1.4em;
}

#dashboard-kpi-3
  .highcharts-dashboards-component
  .highcharts-point.highcharts-color-0 {
  fill: var(--highcharts-neutral-color-100);
}

.highcharts-dashboards-component.highcharts-dashboards-component-kpi,
.highcharts-dashboards-component.highcharts-dashboards-component-highcharts {
  border-radius: 10px;
}

.highcharts-dashboards-component.highcharts-dashboards-component-kpi-chart-container
  .highcharts-background {
  fill: transparent;
}

#dashboard-chart-1 .highcharts-point.highcharts-color-0,
#dashboard-chart-2 .highcharts-color-0 {
  fill: var(--highcharts-color-5);
  stroke: var(--highcharts-color-5);
}

#dashboard-chart-2 .highcharts-grid-axis .highcharts-tick,
#dashboard-chart-2 .highcharts-axis-line {
  stroke-width: 0;
}

#dashboard-chart-2 .highcharts-data-label text {
  fill: var(--highcharts-neutral-color-0);
}

.highcharts-plot-line {
  stroke-width: 3px;
  stroke: #f00;
}

.highcharts-plot-line-label {
  fill: var(--highcharts-neutral-color-100);
  font-size: 1em;
  font-weight: bold;
}

#dashboard-kpi-1,
#dashboard-kpi-2,
#dashboard-kpi-4,
#current-sprint-kpi {
  flex: 1 1 50%;
  height: 300px;
}

#dashboard-chart-1,
#dashboard-chart-2,
#dashboard-chart-cumulative {
  height: 350px;
}

#dashboard-chart-1 {
  flex: 1 1 20%;
}

#dashboard-chart-2 {
  flex: 1 1 60%;
}

#dashboard-chart-cumulative {
  flex: 1 1 100%;
}

/* LARGE */
@media (max-width: 1200px) {
  #dashboard-kpi-1,
  #dashboard-kpi-2,
  #current-sprint-kpi,
  #dashboard-kpi-4 {
    flex: 1 1 50%;
  }

  #dashboard-chart-1 {
    flex: 1 1 20%;
  }

  #dashboard-chart-2 {
    flex: 1 1 60%;
  }
}

/* MEDIUM */
@media (max-width: 992px) {
  .row {
    flex-direction: column;
  }

  #current-sprint-kpi {
    height: auto;
  }

  #current-sprint.row {
    flex-direction: row;
  }

  #dashboard-kpi-1,
  #dashboard-kpi-2 {
    flex: 1 1 50%;
  }

  #dashboard-kpi-4,
  #dashboard-chart-1,
  #dashboard-chart-2,
  #current-sprint-kpi {
    flex: 1 1 100%;
  }
}

/* MEDIUM */
@media (max-width: 576px) {
  #current-sprint,
  #current-sprint.row {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
