.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 390px;
  height: 844px;
  margin: 0 auto;
  font-size: 0px;
  background: #ffffff;
  overflow: hidden;
}
.accident-statistics {
  display: block;
  position: relative;
  height: 36px;
  margin: 67px 0 0 55px;
  color: #1a1c74;
  font-family: Inter, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
}
.image {
  position: relative;
  width: 345px;
  height: 561.959px;
  margin: 77px 0 0 22px;
  background: url(./assets/images/363765af-4653-45ca-bd5e-079883e9f583.png)
    no-repeat center;
  background-size: cover;
  z-index: 2;
}
.rectangle {
  position: relative;
  width: 390px;
  height: 79px;
  margin: 23.041px 0 0 0;
  background: #1a1c74;
  z-index: 9;
  overflow: visible auto;
}
.frame {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  width: 350px;
  margin: 8px 0 0 20px;
  z-index: 10;
}
.icon {
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 11;
  overflow: hidden;
}
.icon-1 {
  position: relative;
  width: 29.667px;
  height: 34.362px;
  margin: 3.5px 0 0 5.167px;
  background: url(./assets/images/6be26a8e-3a4c-4b7f-9f2f-77ef5d41d2ab.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 12;
}
.icon-2 {
  position: relative;
  width: 32px;
  height: 31.986px;
  background: url(./assets/images/d8374879-4129-44f1-9ab6-2b03feb35d31.png)
    no-repeat center;
  background-size: cover;
  z-index: 13;
}


.rectangle-7 {
  position: absolute;
  width: 55px;
  height: 28px;
  top: 133px;
  left: 310px;
  background: #1a1c74;
  z-index: 5;
  border-radius: 10px;
}
.span {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  top: 8px;
  left: 7px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.polygon {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 9px;
  left: 38px;
  background: url(./assets/images/f3f68c9c-0141-4c27-b9ea-bc36fba4d4c0.png)
    no-repeat center;
  background-size: cover;
  z-index: 7;
}
.previous-accidents {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 138px;
  left: 31px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}
