.logg-inn {
  margin: 0 32px;
  margin-top: 68px;
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #fff;
  overflow: hidden;
  text-align: left;
  color: #1a1c74;
  box-sizing: border-box;
}

.logo {
  margin-top: 20%;
  display: flex;
  flex-direction: row;
}

.varselvenn {
  font-size: 320%;
  color: #e43700;
  font-family: Play;
  line-height: 200%;
}

.varselvenn .venn {
  color: #1a1c74;
}

.inactivedefault-input {
  border-radius: 20px;
  border: 1px solid #383b97;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 2% 5%;
  cursor: pointer;
  box-sizing: border-box;
}

.inactivedefault-input1 {
  border-radius: 20px;
  border: 1px solid #383b97;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2% 5%;
}
.glemt-passord {
  color: #000;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.text {
  align-self: center;
  width: fit-content;
  padding: 5% 10%;
  border-radius: 8px;
  background-color: #1a1c74;
  color: #fff;
  font-size: 200%;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition on hover */
}

.text:hover {
  background-color: #131451; /* Darker background color on hover */
}

.inactivedefault-input,
.inactivedefault-input1 {
  margin-bottom: 20px; /* Add some spacing between inputs */
}

.inactivedefault-input input,
.inactivedefault-input1 input {
  border: none; /* Remove border */
  border-bottom: 1px solid #ccc; /* Add bottom border for separation */
  background-color: transparent; /* Make background transparent */
  padding: 10px; /* Add padding */
  width: 100%; /* Make inputs take full width */
  box-sizing: border-box; /* Include padding and border in the width */
  font-size: 16px; /* Adjust font size as needed */
  color: #333; /* Set text color */
}

.inactivedefault-input input::placeholder,
.inactivedefault-input1 input::placeholder {
  color: #aaa; /* Adjust placeholder text color */
}

/* Style placeholder text on focus */
.inactivedefault-input input:focus::placeholder,
.inactivedefault-input1 input:focus::placeholder {
  color: transparent; /* Hide placeholder text on focus */
}
