.main-container {
  margin: 0 32px;
  margin-top: 68px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #fff;
  overflow: hidden;
  text-align: left;
  color: #1a1c74;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center; /* Aligns children vertically in the center */
  justify-content: space-between; /* Distributes space between and around content items */
  width: 100%; /* Ensures the header takes full width */
}

#goBackButton {
  font-size: 24px; /* Icon size */
  position: absolute;
  left: 42px;
}

.dropdown {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  color: #1a1c74;
  width: 100%;
  justify-content: space-between;
}

#dropdownMenu {
  font-size: 14px;
  color: #1a1c74;
  border: 1px solid #1a1c74;
  border-radius: 5px;
}

.highcharts-series-group {
  padding: -100px -30px -30px -30px;
}

.row {
  width: 100%;
  margin: none;
}

@import url("https://code.highcharts.com/css/highcharts.css");

:root,
.highcharts-light {
  /* Colors for data series and points */
  --highcharts-color-0: #69a285;
  --highcharts-color-1: #ffbb07;
  --highcharts-color-2: #727e8d;
  --highcharts-color-3: #fc6556;
  --highcharts-color-5: #404040;
  --highcharts-neutral-color-100: #000;
  --highcharts-neutral-color-5: #f2f2f2;
  --highcharts-neutral-color-3: #f7f7f7;
  --highcharts-neutral-color-0: #fff;

  /* General */
  --highcharts-background-color: #fff;

  /* Extra colors */
  --gray: #ccc;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Colors for data series and points */
    --highcharts-color-0: #93cbae;
    --highcharts-color-5: #c4c4c4;

    /* Extra colors */
    --gray: #333;

    /* UI colors */
    --highcharts-background-color: #1a1c74;
    --highcharts-neutral-color-100: #ffffff;
    --highcharts-neutral-color-5: #ffffff;
    --highcharts-neutral-color-3: #ffffff;
    --highcharts-neutral-color-0: #ffffff;
  }
}

#container {
  background-color: var(--highcharts-neutral-color-5);
  position: relative;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  margin: -10px 0;
}

.cell {
  border: 1px solid transparent;
  border-radius: 10px;
  position: relative;
  font-size: 12px;
  margin: 10px 0;
}

.first {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.highcharts-dashboards-component {
  color: var(--highcharts-neutral-color-100);
}

.highcharts-dashboards-component-title {
  font-size: 1.25em;
  font-weight: 500;
  text-align: center;
  margin: 1em;
}

.cell.blue-cell:nth-child(1),
.cell.blue-cell:nth-child(2) {
  height: 170px; /* Adjust this value to the desired height */
}

.cell > .highcharts-dashboards-component {
  position: relative;
  background-color: var(--highcharts-background-color);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.dashboard-header .dashboard-title {
  padding-top: 20px;
}

.dashboard-header .dashboard-title,
.dashboard-header .dashboard-description {
  background-color: var(--highcharts-neutral-color-5);
  color: var(--highcharts-neutral-color-100);
  margin: 0;
}

.highcharts-dashboards-component-kpi-content {
  display: flex;
  flex-direction: column;
}

.highcharts-dashboards-component.highcharts-dashboards-component-kpi-value {
  font-size: 3em;
  margin: 10px;
}

.highcharts-dashboards-component-kpi {
  text-align: center;
}

.highcharts-dashboards-component-kpi-content
  .highcharts-dashboards-component-subtitle {
  font-size: 1em;
  margin-bottom: 20px;
}

#dashboard-kpi-3
  .highcharts-dashboards-component
  .highcharts-point.highcharts-color-0 {
  fill: var(--highcharts-neutral-color-100);
}

.highcharts-dashboards-component.highcharts-dashboards-component-kpi,
.highcharts-dashboards-component.highcharts-dashboards-component-highcharts {
  border-radius: 10px;
}

.highcharts-dashboards-component.highcharts-dashboards-component-kpi-chart-container
  .highcharts-background {
  fill: transparent;
}

#dashboard-chart-1 .highcharts-point.highcharts-color-0,
#dashboard-chart-2 .highcharts-color-0 {
  fill: var(--highcharts-color-5);
  stroke: var(--highcharts-color-5);
}

#dashboard-chart-2 .highcharts-grid-axis .highcharts-tick,
#dashboard-chart-2 .highcharts-axis-line {
  stroke-width: 0;
}

#dashboard-chart-2 .highcharts-data-label text {
  fill: var(--highcharts-neutral-color-0);
}

.highcharts-plot-line {
  stroke-width: 3px;
  stroke: #f00;
}

.highcharts-root {
  padding: 0;
}

.highcharts-plot-line-label {
  fill: var(--highcharts-neutral-color-100);
  font-size: 1em;
  font-weight: bold;
}

#dashboard-kpi-1,
#dashboard-kpi-2 {
  width: 50%;
}

#current-sprint-kpi {
  height: 170px;
}
.cell.blue-cell {
  max-height: 170px; /* or any other appropriate value */
}

#dashboard-kpi-4,
#current-sprint-kpi {
  height: fit-content;
}

#dashboard-chart-1,
#dashboard-chart-2,
#dashboard-chart-cumulative {
  height: 350px;
}

#current-sprint-kpi .row {
  margin-bottom: -140px;
}
#dashboard-chart-1 {
  flex: 1 1 20%;
}

#dashboard-chart-2 {
  flex: 1 1 60%;
}

#dashboard-chart-cumulative {
  flex: 1 1 100%;
}

/* LARGE */
@media (max-width: 1200px) {
  #dashboard-kpi-1,
  #dashboard-kpi-2,
  #current-sprint-kpi,
  #dashboard-kpi-4 {
    flex: 1 1 50%;
  }

  #dashboard-chart-1 {
    flex: 1 1 20%;
  }

  #dashboard-chart-2 {
    flex: 1 1 60%;
  }
}

/* MEDIUM */
@media (max-width: 992px) {
  .row {
    flex-direction: column;
  }

  #current-sprint-kpi {
    height: 170px;
  }

  #current-sprint.row {
    flex-direction: row;
  }

  #dashboard-kpi-1,
  #dashboard-kpi-2 {
    flex: 1 1 50%;
  }

  #dashboard-kpi-4,
  #dashboard-chart-1,
  #dashboard-chart-2,
  #current-sprint-kpi {
    flex: 1 1 100%;
  }
}

/* MEDIUM */
@media (max-width: 576px) {
  #current-sprint,
  #current-sprint.row {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
