body {
  line-height: normal;
  font-size: 12px;
  font-family: Inter;
  background-color: #fff;
  color: #1a1c74;
  box-sizing: border-box;
}

h4 {
  margin: 0;
  color: #1a1c74;
}

h2 {
  margin-top: 0;
  font-size: 32px;
}
p {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
.overskrift {
  flex-grow: 1; /* Allows the h2 to grow and fill the space */
  text-align: center; /* Ensures text is centered within the growing space */
  line-height: 1.2;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center; /* Aligns children vertically in the center */
  justify-content: space-between; /* Distributes space between and around content items */
  width: 100%; /* Ensures the header takes full width */
}

#goBackButton {
  font-size: 24px; /* Icon size */
  position: absolute;
  left: 42px;
}

.navbar {
  position: fixed;
  top: auto; /* Ensures it sticks to the bottom */
  left: 0; /* Aligns it to the left edge */
  right: 0; /* Aligns it to the right edge */
  bottom: 0; /* Sticks to the bottom of the viewport */
  width: 100%;
  height: 79px;
  color: #ffffff;
  background-color: #1a1c74;
  z-index: 100;
  box-sizing: border-box;
  display: flex; /* Ensures the navbar is a flex container */
  align-items: center; /* Vertically aligns all children in the center */
  justify-content: center; /* Horizontally centers the content */
}
.icon-parent {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Ensure vertical alignment of all child elements */
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  color: #ffffff;
  width: 100%; /* Takes full width of the navbar */
  padding: 10px 20px; /* Adjusted padding */
}

.iconFooter {
  font-size: 32px;
  z-index: 2;
  cursor: pointer;
  overflow: hidden;
  padding: 5px; /* Uniform padding for all icons */
  transition: transform 0.3s; /* Optional: for a hover effect */
}

.iconFooter {
  cursor: pointer;
}

.iconFooter:hover {
  transform: scale(1.1); /* Optional: Slight enlargement on hover */
}
