body {
  line-height: normal;
  font-size: 14px;
  font-family: Inter;
  background-color: #fff;
  color: #1a1c74;
}

h4 {
  margin: 0;
}
p {
  margin-top: 0;
}
h2 {
  margin-top: 0;
  font-size: 32px;
}

.navbar {
  position: fixed;
  top: auto; /* Ensures it sticks to the bottom */
  left: 0; /* Aligns it to the left edge */
  right: 0; /* Aligns it to the right edge */
  bottom: 0; /* Sticks to the bottom of the viewport */
  width: 100%;
  height: 79px;
  color: #ffffff;
  background-color: #1a1c74;
  z-index: 100;
  box-sizing: border-box;
}
.icon-parent {
  display: flex;
  padding: 24px 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  color: #ffffff;
}

.iconFooter {
  font-size: 32px;
  z-index: 2;
  overflow: hidden;
}

.active {
  text-decoration-line: underline;
}

.iconFooter {
  cursor: pointer;
}
