body {
  margin: 0;
  line-height: normal;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 12px;
}

.fa, .fas {color: white;}



/*felles styling for alle sider med navigasjonsbaren
må fjerne disse styling-ene i alle de individuelle CSS filene slik at alle navigasjonsbarene styles av dette dokumentet */

