.hjemside {
  margin: 0 32px;
  margin-top: 68px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #fff;
  overflow: hidden;
  text-align: left;
  font-size: 32px;
  line-height: 20px;
  color: #1a1c74;
  text-align: center;
}

.min-side {
  display: inline;
  line-height: 36px;
  margin-bottom: 24px;
}

.innhold {
  display: inline;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  gap: 24px;
  font-size: 16px;
  color: #1a1c74;
}

.boks {
  width: 100%;
  border-radius: 8px;
  background-color: #cfd0ff;
  border: 1.5px solid #1a1c74;
  display: flex;
  flex-direction: row;
  padding: 16px;
  box-sizing: border-box;
  gap: 16px;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.tittel {
  align-self: stretch;
  font-weight: 500;
}

.text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}

.her-kan-du {
  align-self: stretch;
  font-size: smaller;
  line-height: 16px;
  color: #595959;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  text-align: center;
  color: #1a1c74;
}

.button {
  position: relative;
  line-height: 20px;
  font-size: 14px;
}
.text-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-weight: 600;
}
.text-button_grey {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #595959;
}
