.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.frame {
  margin: 0 32px;
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #fff;
  overflow: hidden;
  text-align: left;
  color: #1a1c74;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center; /* Aligns children vertically in the center */
  justify-content: space-between; /* Distributes space between and around content items */
  width: 100%; /* Ensures the header takes full width */
}

#goBackButton {
  font-size: 24px; /* Icon size */
  position: absolute;
  left: 42px;
}

.overskrift {
  flex-grow: 1; /* Allows the h2 to grow and fill the space */
  text-align: center; /* Ensures text is centered within the growing space */
}

.car-mode-1 {
  flex-shrink: 0;
  position: relative;
  height: 36px;
  color: #1a1c74;
  font-family: Inter, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  z-index: 20;
}
.info {
  position: relative;
  width: 100%;
  z-index: 16;
  overflow: visible auto;
  display: flex; /* New */
  flex-direction: column; /* New */
  align-items: center; /* New */
}

.inactive-default-input {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  padding: 6px 16px;
  cursor: pointer;
  background: #3e6048;
  border: none;
  z-index: 16;
  border-radius: 20px;
}

.fa-arrow-left {
  position: relative;
  margin: 6px;
  z-index: 18;
  color: #ffffff;
  font-size: 24px;
}
.ta-til-venstre-mot {
  position: relative;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  z-index: 19;
}

.fareskilt {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 17px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-right: 20px;
  margin-left: auto; /* Pushes the element to the right */
  box-sizing: border-box;
}

.glattVei {
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  position: relative;
}
.ellipse_orange {
  background-color: #ffffff;
  border-radius: 50%;
  border: 2.5px solid #fcb93f;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.glattvei_ikon {
  width: 77.08%;
  height: 75.48%;
  position: absolute;
  right: 11.98%;
  left: 10.94%;
  bottom: 11.33%;
  top: 13.19%;
  overflow: visible;
}
.sykler {
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  position: relative;
}
.ellipse_blue {
  background-color: #ffffff;
  border-radius: 50%;
  border: 3px solid #004cdf;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.sykkel_ikon {
  width: 57.81%;
  height: 57.81%;
  position: absolute;
  right: 21.88%;
  left: 20.31%;
  bottom: 21.88%;
  top: 20.31%;
  overflow: visible;
}
.barn-leker {
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  position: relative;
}

.barn-leker_ikon {
  width: 57.81%;
  height: 57.81%;
  position: absolute;
  right: 21.88%;
  left: 20.31%;
  bottom: 20.31%;
  top: 21.88%;
  overflow: visible;
}

.car-mode-maps {
  position: absolute;
  width: 100%;
  top: 121px;
  left: 0;
  right: 0;
  z-index: 1;
}

.rectangle {
  position: absolute;
  width: 100%;
  height: 9.36%;
  top: 90.64%;
  left: 0;
  background: #1a1c74;
  z-index: 22;
}
