.main-container {
  margin: 0 32px;
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #fff;
  overflow: hidden;
  text-align: left;
  line-height: 20px;
  color: #1a1c74;
  font-family: Inter;
  text-align: center;
}
.overskrift {
  text-align: center;
  font-size: 32px;
}
.velgReise {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #1a1c74;
  border-radius: 20px;
  position: relative;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

input {
  display: flex;
  width: 100%;
  margin-bottom: 1%;
  border: none;
  outline: none;
  text-align: left;
  font-size: 16px;
  padding: 8px;
  width: 100%;
}

.from,
.to {
  color: #8f91e8;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  width: 100%;
}

.line-with-icon {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  height: 1px;
  background-color: #1a1c74;
  width: 100%;
  position: absolute;
}

.icon {
  font-size: 24px; /* Adjust icon size as needed */
  color: #1a1c74;
  position: absolute;
  right: 5%; /* Positioned 5% from the right */
}

.kart {
  display: inline;
  width: 100%;
  height: auto;
  background-color: lightgreen;
  z-index: inherit;
}

.navbar {
  position: fixed;
  top: auto; /* Ensures it sticks to the bottom */
  left: 0; /* Aligns it to the left edge */
  right: 0; /* Aligns it to the right edge */
  bottom: 0; /* Sticks to the bottom of the viewport */
  width: 100%;
  height: 79px;
  color: #ffffff;
  background-color: #1a1c74;
  z-index: 100;
  box-sizing: border-box;
}
.icon-parent {
  display: flex;
  padding: 24px 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  color: #ffffff;
}

.iconFooter {
  font-size: 32px;
  z-index: 2;
  overflow: hidden;
}

.active {
  text-decoration-line: underline;
}

.iconFooter {
  cursor: pointer;
}
