/*applying "box-sizing: border-box;" globally to all elements*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
#map {
  position: absolute;
  top: 33%;
  left: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 650px; /* or any other suitable height */
}

gmp-map {
  height: 300px;
  width: 508px;
}
.main-container {
  margin: 0 32px;
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #fff;
  overflow: hidden;
  text-align: left;
  color: #1a1c74;
}
.overskrift {
  text-align: center;
}

.velgReise {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #1a1c74;
  border-radius: 20px;
  position: relative;
  padding: 5%;
  width: 100%;
  box-sizing: border-box;
}

.from,
.to {
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  width: 100%;
}

.line-with-icon {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  height: 1px;
  background-color: #1a1c74;
  width: 100%;
  position: absolute;
}

.icon {
  font-size: 24px;
  color: #1a1c74;
  position: absolute;
  right: 5%;
}

#shortContainer {
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
}

.container {
  width: 100%;
  display: flex;
  background-color: #f49e00;
  border: 2px solid #1a1c74;
  border-radius: 8px;
  padding: 5%;
  box-sizing: border-box;
  transition: max-height 0.3s ease;
  z-index: inherit;
}

.tittel {
  font-size: 150%;
  font-weight: 500;
}

.tekst {
  font-size: 133%;
  margin-bottom: 0;
}

#expandedContainer {
  display: flex;
  flex-direction: column;
  max-height: fit-content;
  margin-bottom: 20%;
  gap: 16px;
  z-index: 100;
}

.linje1 {
  display: flex;
  flex-direction: row;
  gap: 9%;
}

.fa-triangle-exclamation,
#expand-icon,
#collapse-icon {
  font-size: 200%;
}

.varsling {
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid black;
  padding: 5.6%;
  gap: 5.6%;
  color: black;
  z-index: 2;
}

.topplinje {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.underoverskrift {
  font-size: 150%;
  font-weight: bold;
}

.tilbakemeling {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.up {
  color: #11b95c;
}

.down {
  color: #e43700;
}

.up,
.down {
  font-weight: bold;
  font-size: 133%;
  display: flex;
  flex-direction: row;
  padding: 5%;
}

.italic {
  font-style: italic;
}

.hvem_hvor {
  color: darkgrey;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8%;
}

#expand-icon,
#collapse-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: right;
  cursor: pointer;
}

.frame {
  position: relative; /* Ensures it stays within the flow but can also work with absolute elements above it */
  z-index: 5; /* Lower than the expanded container */
  display: flex;
  width: 120px;
  height: 43px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 0px;
  background-color: #80abff;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid;
  border-color: #1a1c74;
}

.frame .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -2.5px;
  font-weight: 600;
  color: #1a1c74;
  white-space: nowrap;
}

.frame .vector {
  position: relative;
  width: 16px;
  height: 17.42px;
  margin-top: -2.21px;
  margin-bottom: -2.21px;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.carmodeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; /* Changed from relative to fixed */
  bottom: 100px; /* Set the button 100px above the bottom */
  left: 50%; /* Position the left edge of the button at 50% of the screen */
  transform: translateX(
    -50%
  ); /* Shift it back by 50% of its width to center it */
  width: 188px;
  height: 64px;
  padding: 16px 40px;
  background: #1a1c74;
  border-radius: 8px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  z-index: 10;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 130px;
  padding: 0 8px 0 8px;
}
.button-car-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 114px;
  height: 32px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  z-index: 1;
}

.text-wrapper:hover,
.button-car-mode:hover {
  cursor: pointer;
}
