.main-container {
  margin: 0 32px;
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #fff;
  overflow: hidden;
  text-align: left;
  color: #1a1c74;
}
.overskrift {
  text-align: center;
}

.velgReise {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #1a1c74;
  border-radius: 20px;
  position: relative;
  padding: 5%;
  width: 100%;
  box-sizing: border-box;
}

input {
  display: flex;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  font-size: 16px;
  width: 100%;
}

.from,
.to {
  color: #8f91e8;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  width: 100%;
}

.line-with-icon {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  height: 1px;
  background-color: #1a1c74;
  width: 100%;
  position: absolute;
}

.icon {
  font-size: 24px;
  color: #1a1c74;
  position: absolute;
  right: 5%;
}

.framkomstmiddel {
  display: flex;
  flex-direction: row;
  gap: 4%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-size: 125%;
}

.framkomstmiddel i {
  padding: 0 5px;
  font-size: 150%;
}

.framkomstmiddel p {
  margin-bottom: 0;
}

.chosen {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 1.5% 2%;
  border: 1.5px solid #1a1c74;
  border-radius: 8px;
  background-color: #cfd0ff;
}

.chosen p {
  margin-right: 5px;
}

.unactive {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#shortContainer {
  flex-direction: row;
  justify-content: space-between;
}

.container {
  width: 100%;
  display: flex;
  background-color: #f49e00;
  border: 2px solid #1a1c74;
  border-radius: 8px;
  padding: 5%;
  box-sizing: border-box;
  transition: max-height 0.3s ease;
}

.tittel {
  font-size: 150%;
  font-weight: 500;
}

.tekst {
  font-size: 133%;
  margin-bottom: 0;
}

#expandedContainer {
  display: flex;
  flex-direction: column;
  max-height: fit-content;
  margin-bottom: 20%;
  gap: 16px;
}

.linje1 {
  display: flex;
  flex-direction: row;
  gap: 9%;
}

.fa-triangle-exclamation,
#expand-icon,
#collapse-icon {
  font-size: 200%;
}

.varsling {
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid black;
  padding: 5.6%;
  gap: 5.6%;
  color: black;
}

.topplinje {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.underoverskrift {
  font-size: 150%;
  font-weight: bold;
}

.tilbakemeling {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.up {
  color: #11b95c;
}

.down {
  color: #e43700;
}

.up,
.down {
  font-weight: bold;
  font-size: 133%;
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.italic {
  font-style: italic;
}

.hvem_hvor {
  color: darkgrey;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8%;
}

#expand-icon,
#collapse-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: right;
  cursor: pointer;
}

.kart {
  display: inline;
  width: 100%;
  height: auto;
  background-color: lightgreen;
  z-index: inherit;
}
