.varslinger1 {
  position: absolute;
  top: 68px;
  left: 114px;
  font-size: 32px;
  line-height: 36px;
  color: #1a1c74;
}
.varslinger-child {
  position: absolute;
  top: 122px;
  left: 0px;
  max-height: 100%;
  width: 390px;
}
.glatt-vei {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 18px;
  display: inline-block;
  width: 290px;
}
.b {
  position: absolute;
  top: 1px;
  left: 0px;
  line-height: 18px;
}
.thumb-up-1-icon {
  position: absolute;
  top: 0px;
  left: 20px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.parent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 20px;
}
.b1 {
  position: absolute;
  top: 1px;
  left: 49px;
  line-height: 18px;
  color: #ff511a;
}
.tilbakemelding-icon {
  position: absolute;
  top: 0px;
  left: 64px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.group-parent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 84px;
  height: 20px;
}
.headline-inner {
  position: absolute;
  top: -1px;
  left: 215px;
  width: 84px;
  height: 20px;
  color: #11b95c;
}
.headline {
  width: 165px;
  position: relative;
  height: 20px;
  font-size: 18px;
}
.time {
  width: 55px;
  position: relative;
  line-height: 14px;
  display: inline-block;
  height: 15px;
  flex-shrink: 0;
}
.obs-til-alle {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 20px;
}
.subheading {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.privatsjfr {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 14px;
  display: inline-block;
  width: 290px;
}

.headline1 {
  width: 165px;
  position: relative;
  height: 20px;
  opacity: 0.6;
}
.liste-varslingerdefault {
  width: 329px;
  border-radius: 15px;
  background-color: #f4f4f4;
  border: 1px solid #1a1c74;
  box-sizing: border-box;
  height: 177px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px;
  gap: 16px;
  cursor: pointer;
}
.elg-observert {
  position: absolute;
  top: 1px;
  left: 0px;
  line-height: 18px;
  display: inline-block;
  width: 290px;
}
.thumb-up-1-icon1 {
  position: absolute;
  top: 0px;
  left: 17px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.group {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 37px;
  height: 20px;
}
.b3 {
  position: absolute;
  top: 1px;
  left: 46px;
  line-height: 18px;
  color: #ff511a;
}
.tilbakemelding-icon1 {
  position: absolute;
  top: 0px;
  left: 61px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.group-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 81px;
  height: 20px;
}
.headline-child {
  position: absolute;
  top: 0px;
  left: 215px;
  width: 81px;
  height: 20px;
  color: #11b95c;
}

.liste-varslingerdefault1 {
  width: 329px;
  border-radius: 15px;
  background-color: #f4f4f4;
  border: 1px solid #1a1c74;
  box-sizing: border-box;
  height: 194px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px;
  gap: 12px;
}
.thumb-up-1-icon2 {
  position: absolute;
  top: 0px;
  left: 26px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 46px;
  height: 20px;
}
.b5 {
  position: absolute;
  top: 1px;
  left: 55px;
  line-height: 18px;
  color: #ff511a;
}
.tilbakemelding-icon2 {
  position: absolute;
  top: 0px;
  left: 70px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.group-parent1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 90px;
  height: 20px;
}
.group-div {
  position: absolute;
  top: 0px;
  left: 215px;
  width: 90px;
  height: 20px;
  color: #11b95c;
}

.veiarbeider {
  width: 290px;
  position: relative;
  line-height: 14px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 0;
}
.km {
  width: 48px;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  left: 245px;
  line-height: 14px;
  display: inline-block;
  z-index: 1;
}

.liste-varslingerdefault2 {
  width: 329px;
  border-radius: 15px;
  background-color: #f4f4f4;
  border: 1px solid #1a1c74;
  box-sizing: border-box;
  height: 237px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px;
  gap: 12px;
}
.skriv-et-varsel {
  position: relative;
  line-height: 18px;
}
.close-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.liste-varslingerdefault3 {
  width: 329px;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #1a1c74;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  font-size: 18px;
}
.varslinger-liste {
  position: absolute;
  top: 170px;
  left: 0px;
  border-radius: 5px;
  border: 1px dashed #fff;
  box-sizing: border-box;
  width: 390px;
  height: 744px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px 31px;
  gap: 12px;
  color: #000;
}
.button {
  position: relative;
  line-height: 14px;
  font-weight: 500;
}
.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 8px;
}
.buttonmediumdefaulticons {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 8px;
  background-color: #1a1c74;
  border: 1.5px solid #1a1c74;
  box-sizing: border-box;
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
}
.iconoutlinesort-descending {
  position: absolute;
  top: 8px;
  left: 79px;
  width: 25px;
  height: 25px;
}
.sorter {
  position: absolute;
  top: 134px;
  left: 30px;
  width: 114px;
  height: 40px;
  cursor: pointer;
  text-align: center;
}
.buttonmediumdefaulticons1 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 8px;
  background-color: #1a1c74;
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  box-sizing: border-box;
}
.iconoutlinefilter {
  position: absolute;
  top: 8px;
  left: 70px;
  width: 25px;
  height: 25px;
}
.filter {
  position: absolute;
  top: 134px;
  left: 253px;
  width: 106px;
  height: 40px;
  cursor: pointer;
  text-align: center;
}
.navbar {
  position: fixed;
  top: auto; /* Ensures it sticks to the bottom */
  left: 0; /* Aligns it to the left edge */
  right: 0; /* Aligns it to the right edge */
  bottom: 0; /* Sticks to the bottom of the viewport */
  width: 100%;
  height: 79px;
  color: #ffffff;
  background-color: #1a1c74;
  z-index: 100;
  box-sizing: border-box;
}
.icon-parent {
  display: flex;
  padding: 24px 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  color: #ffffff;
}

.iconFooter {
  font-size: 32px;
  z-index: 2;
  overflow: hidden;
}

.active {
  text-decoration-line: underline;
}

.iconFooter {
  cursor: pointer;
}
