.varslinger {
  margin: 0 32px;
  margin-top: 68px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #fff;
  overflow: hidden;
  text-align: left;
  line-height: 20px;
  color: #1a1c74;
  font-family: Inter;
  text-align: center;
}

header {
  display: flex;
  align-items: center;  /* Aligns children vertically in the center */
  justify-content: space-between; /* Distributes space between and around content items */
  width: 100%; /* Ensures the header takes full width */
}

#goBackButton {
  margin-left: 10px; /* Adjust as needed to align the icon within the header */
  font-size: 24px; /* Icon size */
  justify-content: flex-start;
}

.overskrift {
  flex-grow: 1; /* Allows the h2 to grow and fill the space */
  text-align: center; /* Ensures text is centered within the growing space */
  line-height: 1.2;
}

.line {
  flex-grow: 1;
}

.varslinger-liste {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.liste-varslingerdefault {
  background-color: #f4f4f4;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.headline,
.subheading,
.footer {
  display: flex;
  justify-content: space-between;
}

.thumbs {
  display: flex;
  align-items: center;
  gap: 10px;
}

.thumbs-up {
  display: flex;
  align-items: center;
  gap: 5px;
}

.controls {
  display: flex;
  justify-content: space-between;
}
