.min-profil {
  margin: 0 32px;
  margin-top: 68px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #fff;
  overflow: hidden;
  text-align: left;
  font-size: 32px;
  line-height: 20px;
  color: #1a1c74;
  font-family: Inter;
  text-align: center;
}

.bruker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.fa-user {
  font-size: 48px;
}

.navn {
  font-size: 18px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.innhold {
  display: inline;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  gap: 24px;
  font-size: 16px;
  color: #fff;
}

.title {
  line-height: 20px;
  font-weight: 500;
  color: #ffffff;
}

.info {
  align-self: stretch;
  font-size: 14px;
  line-height: 16px;
}

.text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}

.button {
  line-height: 20px;
  font-weight: 600;
  font-size: 14px;
}

.text-button {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* .arrowRight {

  display: flex;
  margin-left: auto;
  font-size: larger;
  align-items: center;
}

.buttons {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
} */
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.arrow-icons {
  display: flex;
  flex-direction: column; /* Arrange icons in a column */
  align-items: flex-end; /* Align icons to the right */
}

.seMer {
  width: 100%;
  border-radius: 8px;
  background-color: #1a1c74;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 16px;
  box-sizing: border-box;
  gap: 16px;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  z-index: 2;
  width: 100%;
}
