/*global*/
h4 {
  margin: 0;
}
p {
  margin-top: 0;
}
h2 {
  margin-top: 0;
  font-size: 32px;
}

.min-profil {
  margin: 0 32px;
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #fff;
  overflow: hidden;
  text-align: left;
  font-size: 32px;
  line-height: 20px;
  color: #1a1c74;
  font-family: Inter;
  text-align: center;
}

.overskrift {
  display: inline;
  line-height: 36px;
  margin-bottom: 24px;
}

.bruker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.fa-user {
  font-size: 48px;
}

.navn {
  font-size: 18px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.innhold {
  display: inline;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  gap: 24px;
  font-size: 16px;
  color: #fff;
}

.title {
  line-height: 20px;
  font-weight: 500;
}

.info {
  align-self: stretch;
  font-size: 14px;
  line-height: 16px;
}

.text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}

.button {
  line-height: 20px;
  font-weight: 500;
}

.text-button {
  flex-grow: 1; /* Allow to take up any available space */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.arrowRight {
  display: flex;
  margin-left: auto; /* This pushes the icon to the far right */
  font-size: larger;
  align-items: center; /* This ensures the icon is vertically centered */
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Aligns children to each end */
  width: 100%; /* Use the full width to space out items */
}

.seMer {
  width: 100%;
  border-radius: 8px;
  background-color: #1a1c74;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 16px;
  box-sizing: border-box;
  gap: 16px;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

/*navbar styling, should be moved to global when we get that page linked right*/

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 79px;
  color: #ffffff;
  background-color: #1a1c74;
  z-index: 100;
}

.icon-parent {
  display: flex;
  padding: 24px 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  color: #ffffff;
}

.iconFooter {
  font-size: 32px;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
}

.active {
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
}
