.min-profil1 {
  position: absolute;
  top: 68px;
  left: 122px;
  line-height: 36px;
}

.fa-user {
  position: absolute;
  top: 122px;
  right: 32px; /* Adjusted to match hjemside.html */
  font-size: 64px;
}

.min-profil-child {
  position: absolute;
  top: 122px;
  left: 0px;
  max-height: 100%;
  width: 390px;
}

.navn-anders-andresen {
  position: absolute;
  top: 169px;
  left: 47px;
  font-size: 18px;
  line-height: 18px;
  display: inline-block;
  width: 209px;
  height: 24px;
}

.iconoutlinearrow-circle-right {
  width: 32px;
  position: absolute;
  margin: 0 !important;
  top: 78px;
  left: 213px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}

.fa-star {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}

.title {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  font-weight: 500;
}

.poengene-dine-gir {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  line-height: 16px;
}

.text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}

.button {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}

.text-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  z-index: 2;
}

.settings-poeng {
  width: 296px;
  border-radius: 8px;
  background-color: #1a1c74;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px;
  box-sizing: border-box;
  position: relative;
  gap: 16px;
  cursor: pointer;
}

.arrowRight {
  width: 32px;
  position: absolute;
  margin: 0;
  bottom: 2px;
  left: 213px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}

.fa-map-location-dot {
  position: relative;
  z-index: 1;
}

.seMer {
  width: 296px;
  border-radius: 8px;
  background-color: #1a1c74;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px;
  box-sizing: border-box;
  position: relative;
  gap: 16px;
}

.iconoutlinesettings {
  width: 24px;
  position: relative;
  height: 24px;
}

.content3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

.alert {
  position: absolute;
  height: 101.89%;
  width: 100%;
  top: -0.94%;
  right: 0%;
  bottom: -0.94%;
  left: 0%;
  border-radius: 8px;
  background-color: #1a1c74;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px;
  box-sizing: border-box;
  gap: 16px;
}

.iconoutlinearrow-circle-righ3 {
  position: absolute;
  height: 30.19%;
  width: 10.1%;
  top: 60.38%;
  right: 17.94%;
  bottom: 9.43%;
  left: 71.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.settings-instillinger {
  width: 296px;
  position: relative;
  height: 106px;
}

.innhold {
  position: absolute;
  top: 221px;
  left: 47px;
  width: 325px;
  height: 623px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  font-size: 16px;
  color: #fff;
}

.min-profil {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 844px;
  overflow: hidden;
  text-align: left;
  font-size: 32px;
  color: #1a1c74;
  font-family: Inter;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 79px;
  color: #ffffff;
  background-color: #1a1c74;
}

.icon-parent {
  display: flex;
  padding: 24px 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  color: #ffffff;
}

.iconFooter {
  font-size: 32px;
  z-index: 2;
  overflow: hidden;
}

.active {
  text-decoration-line: underline;
}

.iconFooter {
  cursor: pointer;
}
