#goBackButton {
    margin-left: 10px; /* Adjust as needed to align the icon within the header */
    font-size: 24px; /* Icon size */
    justify-content: flex-start;
  }

.innstillinger_innhold {
    margin: 0px 32px;
}
.min_konto_innhold {
width: 325px;
height: 124px;
flex-shrink: 0;
border-radius: 8px;
background-color:#E2E2E2;
}

.linje1, .linje2 {
    display: flex;
}
