.innstillinger {
  margin: 0 32px;
  margin-top: 68px;
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #fff;
  overflow: hidden;
  text-align: left;
  line-height: 20px;
  color: #1a1c74;
  box-sizing: border-box;
}

.innstillinger .line {
  position: absolute;
  width: 390px;
  height: 2px;
  top: 121px;
  left: 0;
}

.innstillinger .icon-solid-x {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 72px;
  left: 27px;
}

.innstillinger .text-wrapper-2 {
  position: absolute;
  width: 201px;
  top: 152px;
  left: 33px;
  font-family: var(--large-bold-font-family);
  font-weight: var(--large-bold-font-weight);
  color: var(--primary);
  font-size: var(--large-bold-font-size);
  letter-spacing: var(--large-bold-letter-spacing);
  line-height: var(--large-bold-line-height);
  white-space: nowrap;
  font-style: var(--large-bold-font-style);
}

.innstillinger .text-wrapper-3 {
  width: 201px;
  top: 574px;
  font-family: var(--large-bold-font-family);
  font-weight: var(--large-bold-font-weight);
  color: var(--primary);
  font-size: var(--large-bold-font-size);
  letter-spacing: var(--large-bold-letter-spacing);
  line-height: var(--large-bold-line-height);
  white-space: nowrap;
  position: absolute;
  left: 32px;
  font-style: var(--large-bold-font-style);
}

.innstillinger .text-wrapper-4 {
  position: absolute;
  width: 221px;
  top: 346px;
  left: 33px;
  font-family: var(--large-bold-font-family);
  font-weight: var(--large-bold-font-weight);
  color: var(--primary);
  font-size: var(--large-bold-font-size);
  letter-spacing: var(--large-bold-letter-spacing);
  line-height: var(--large-bold-line-height);
  white-space: nowrap;
  font-style: var(--large-bold-font-style);
}

.innstillinger .min-konto {
  position: absolute;
  width: 325px;
  height: 124px;
  top: 180px;
  left: 33px;
  background-color: var(--variable-collection-light-grey);
  border-radius: 8px;
}

.innstillinger .text-wrapper-5 {
  position: absolute;
  top: 10px;
  left: 18px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 14px;
  white-space: nowrap;
}

.innstillinger .text-wrapper-6 {
  position: absolute;
  top: 39px;
  left: 19px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 14px;
  white-space: nowrap;
}

.innstillinger .overlap {
  position: absolute;
  width: 113px;
  height: 66px;
  top: 0;
  left: 206px;
}

.innstillinger .text-wrapper-7 {
  position: absolute;
  top: 10px;
  left: 33px;
  font-family: var(--small-medium-font-family);
  font-weight: var(--small-medium-font-weight);
  color: #000000;
  font-size: var(--small-medium-font-size);
  letter-spacing: var(--small-medium-letter-spacing);
  line-height: var(--small-medium-line-height);
  white-space: nowrap;
  font-style: var(--small-medium-font-style);
}

.innstillinger .text-wrapper-8 {
  position: absolute;
  top: 39px;
  left: 0;
  font-family: var(--small-medium-font-family);
  font-weight: var(--small-medium-font-weight);
  color: #000000;
  font-size: var(--small-medium-font-size);
  letter-spacing: var(--small-medium-letter-spacing);
  line-height: var(--small-medium-line-height);
  white-space: nowrap;
  font-style: var(--small-medium-font-style);
}

.innstillinger .chevron-right {
  position: absolute;
  width: 33px;
  height: 37px;
  top: 0;
  left: 80px;
}

.innstillinger .img {
  position: absolute;
  width: 33px;
  height: 37px;
  top: 29px;
  left: 80px;
}

.innstillinger .overlap-group {
  position: absolute;
  width: 123px;
  height: 66px;
  top: 58px;
  left: 19px;
}

.innstillinger .text-wrapper-9 {
  position: absolute;
  top: 10px;
  left: 0;
  font-family: var(--small-medium-font-family);
  font-weight: var(--small-medium-font-weight);
  color: #000000;
  font-size: var(--small-medium-font-size);
  letter-spacing: var(--small-medium-letter-spacing);
  line-height: var(--small-medium-line-height);
  white-space: nowrap;
  font-style: var(--small-medium-font-style);
}

.innstillinger .chevron-right-2 {
  position: absolute;
  width: 33px;
  height: 37px;
  top: 0;
  left: 65px;
}

.innstillinger .chevron-right-3 {
  position: absolute;
  width: 33px;
  height: 37px;
  top: 29px;
  left: 90px;
}

.innstillinger .overlap-2 {
  position: absolute;
  width: 325px;
  height: 159px;
  top: 374px;
  left: 33px;
  border-radius: 8px;
}

.innstillinger .varlser {
  position: absolute;
  width: 325px;
  height: 159px;
  top: 0;
  left: 0;
  background-color: var(--variable-collection-light-grey);
  border-radius: 8px;
}

.innstillinger .overlap-3 {
  position: absolute;
  width: 147px;
  height: 95px;
  top: 57px;
  left: 19px;
}

.innstillinger .overlap-4 {
  position: absolute;
  width: 147px;
  height: 67px;
  top: 0;
  left: 0;
}

.innstillinger .text-wrapper-10 {
  position: absolute;
  top: 11px;
  left: 0;
  font-family: var(--small-medium-font-family);
  font-weight: var(--small-medium-font-weight);
  color: #000000;
  font-size: var(--small-medium-font-size);
  letter-spacing: var(--small-medium-letter-spacing);
  line-height: var(--small-medium-line-height);
  white-space: nowrap;
  font-style: var(--small-medium-font-style);
}

.innstillinger .text-wrapper-11 {
  position: absolute;
  top: 40px;
  left: 0;
  font-family: var(--small-medium-font-family);
  font-weight: var(--small-medium-font-weight);
  color: #000000;
  font-size: var(--small-medium-font-size);
  letter-spacing: var(--small-medium-letter-spacing);
  line-height: var(--small-medium-line-height);
  white-space: nowrap;
  font-style: var(--small-medium-font-style);
}

.innstillinger .chevron-right-4 {
  position: absolute;
  width: 33px;
  height: 37px;
  top: 0;
  left: 111px;
}

.innstillinger .chevron-right-5 {
  position: absolute;
  width: 33px;
  height: 37px;
  top: 30px;
  left: 114px;
}

.innstillinger .overlap-5 {
  position: absolute;
  width: 93px;
  height: 37px;
  top: 58px;
  left: 0;
}

.innstillinger .chevron-right-6 {
  position: absolute;
  width: 33px;
  height: 37px;
  top: 0;
  left: 60px;
}

.innstillinger .overlap-6 {
  position: absolute;
  width: 39px;
  height: 66px;
  top: 1px;
  left: 270px;
}

.innstillinger .toggle-switch-off {
  position: absolute;
  width: 39px;
  height: 39px;
  top: 0;
  left: 0;
}

.innstillinger .toggle-switch-off-2 {
  position: absolute;
  width: 39px;
  height: 39px;
  top: 27px;
  left: 0;
}

.innstillinger .text-wrapper-12 {
  top: 12px;
  left: 253px;
  position: absolute;
  font-family: var(--tiny-font-family);
  font-weight: var(--tiny-font-weight);
  color: #000000;
  font-size: var(--tiny-font-size);
  letter-spacing: var(--tiny-letter-spacing);
  line-height: var(--tiny-line-height);
  white-space: nowrap;
  font-style: var(--tiny-font-style);
}

.innstillinger .text-wrapper-13 {
  top: 39px;
  left: 254px;
  position: absolute;
  font-family: var(--tiny-font-family);
  font-weight: var(--tiny-font-weight);
  color: #000000;
  font-size: var(--tiny-font-size);
  letter-spacing: var(--tiny-letter-spacing);
  line-height: var(--tiny-line-height);
  white-space: nowrap;
  font-style: var(--tiny-font-style);
}

.innstillinger .personvern {
  width: 326px;
  height: 104px;
  top: 602px;
  background-color: var(--variable-collection-light-grey);
  border-radius: 8px;
  position: absolute;
  left: 32px;
}

.innstillinger .overlap-7 {
  position: absolute;
  width: 239px;
  height: 24px;
  top: 34px;
  left: 19px;
}

.innstillinger .text-wrapper-14 {
  position: absolute;
  width: 217px;
  top: 6px;
  left: 0;
  font-family: var(--small-medium-font-family);
  font-weight: var(--small-medium-font-weight);
  color: #000000;
  font-size: var(--small-medium-font-size);
  letter-spacing: var(--small-medium-letter-spacing);
  line-height: var(--small-medium-line-height);
  white-space: nowrap;
  font-style: var(--small-medium-font-style);
}

.innstillinger .chevron-right-7 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 215px;
}

.innstillinger .overlap-8 {
  position: absolute;
  width: 185px;
  height: 24px;
  top: 5px;
  left: 20px;
}

.innstillinger .text-wrapper-15 {
  position: absolute;
  width: 163px;
  top: 6px;
  left: 0;
  font-family: var(--small-medium-font-family);
  font-weight: var(--small-medium-font-weight);
  color: #000000;
  font-size: var(--small-medium-font-size);
  letter-spacing: var(--small-medium-letter-spacing);
  line-height: var(--small-medium-line-height);
  white-space: nowrap;
  font-style: var(--small-medium-font-style);
}

.innstillinger .chevron-right-8 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 161px;
}

.innstillinger .overlap-9 {
  position: absolute;
  width: 185px;
  height: 24px;
  top: 63px;
  left: 19px;
}

.navbar {
  position: fixed;
  top: auto; /* Ensures it sticks to the bottom */
  left: 0; /* Aligns it to the left edge */
  right: 0; /* Aligns it to the right edge */
  bottom: 0; /* Sticks to the bottom of the viewport */
  width: 100%;
  height: 79px;
  color: #ffffff;
  background-color: #1a1c74;
  z-index: 100;
  box-sizing: border-box;
  display: flex; /* Ensures the navbar is a flex container */
  align-items: center; /* Vertically aligns all children in the center */
  justify-content: center; /* Horizontally centers the content */
}

.innstillinger .frame {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  align-items: center;
  justify-content: space-between;
  gap: 48px 48px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.innstillinger .icon {
  position: relative;
  width: 40px;
  height: 40px;
}

.innstillinger .icon-2 {
  position: relative;
  width: 32px;
  height: 31.99px;
}

.innstillinger .car-icon {
  position: relative;
  width: 36px;
  height: 29.6px;
}

.innstillinger .vector {
  position: absolute;
  width: 22px;
  height: 2px;
  top: 65px;
  left: 339px;
}
