.din-reise {
  position: absolute;
  top: 68px;
  left: 122px;
  font-size: 32px;
  line-height: 36px;
}
.din-rute-child {
  position: absolute;
  top: 121px;
  left: 0px;
  max-height: 100%;
  width: 390px;
}
.img-8972-1-icon {
  position: absolute;
  top: -100px;
  left: -35px;
  width: 543px;
  height: 653px;
  object-fit: cover;
}
.iconsolidexclamation {
  position: absolute;
  height: 12.35%;
  width: 15.38%;
  top: 21.6%;
  right: 34.62%;
  bottom: 66.05%;
  left: 50%;
  overflow: hidden;
}
.img-8972-1-parent {
  position: absolute;
  top: 290px;
  left: 0px;
  background-color: #fff;
  width: 390px;
  height: 486px;
  overflow: hidden;
}
.button1 {
  position: relative;
  line-height: 32px;
}
.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 8px;
}
.button {
  position: absolute;
  top: 687px;
  left: 101px;
  border-radius: 8px;
  background-color: #1a1c74;
  width: 188px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px 40px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  color: #fff;
}
.min {
  position: absolute;
  top: 5px;
  left: 26.5px;
  line-height: 20px;
  display: inline-block;
  width: 52px;
  height: 15px;
}
.vector-icon {
  position: absolute;
  height: 100%;
  width: 25.48%;
  top: 0%;
  right: 74.52%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.min-parent {
  position: absolute;
  top: 0px;
  left: 128px;
  width: 78.5px;
  height: 23px;
}
.t {
  position: absolute;
  top: 6px;
  left: 19px;
  line-height: 20px;
  display: inline-block;
  width: 24px;
  height: 16px;
}
.vector-icon1 {
  position: absolute;
  height: 99.09%;
  width: 30.23%;
  top: 0%;
  right: 69.77%;
  bottom: 0.91%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.t-parent {
  position: absolute;
  top: -2px;
  left: 243px;
  width: 43px;
  height: 22px;
}
.group-parent {
  position: absolute;
  top: 255px;
  left: 52px;
  width: 286px;
  height: 23px;
}
.arrow-left {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.min1 {
  position: absolute;
  top: 0px;
  left: 24px;
  line-height: 20px;
  display: inline-block;
  width: 52px;
  height: 16px;
}
.vector-icon2 {
  position: absolute;
  height: 100%;
  width: 23.68%;
  top: 0%;
  right: 76.32%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.min-group {
  width: 76px;
  position: relative;
  height: 16px;
}
.buttonmediumhovericons-te {
  position: absolute;
  top: 251px;
  left: 52px;
  border-radius: 8px;
  background-color: #cfd0ff;
  border: 1.5px solid #1a1c74;
  box-sizing: border-box;
  width: 91px;
  height: 32px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
}
.skefelt-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.fra {
  position: absolute;
  height: 22.35%;
  width: 80.98%;
  top: 23.08%;
  left: 9.51%;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.til {
  position: absolute;
  height: 22.35%;
  width: 80.98%;
  top: 71.54%;
  left: 9.51%;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.skefelt {
  position: absolute;
  top: 127px;
  left: 32px;
  width: 326px;
  height: 102px;
}
.iconsolidexclamation1 {
  width: 32px;
  position: relative;
  height: 32px;
}
.aktuelle-varslinger-3 {
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.text1 {
  width: 199px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 0;
}
.button2 {
  position: relative;
  line-height: 20px;
}
.text-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  text-align: center;
  font-size: 16px;
}
.iconsolidarrow-circle-right {
  width: 30px;
  position: absolute;
  margin: 0 !important;
  top: 24px;
  left: 234px;
  height: 30px;
  object-fit: contain;
  cursor: pointer;
  z-index: 2;
}
.content {
  width: 203px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 16px;
}
.varslinger-p-din-reise {
  position: absolute;
  top: 304px;
  left: 30px;
  border-radius: 8px;
  background-color: #f49e00;
  border: 2px solid #1a1c74;
  box-sizing: border-box;
  width: 329px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px;
  gap: 8px;
  font-size: 18px;
}

.icon {
  width: 40px;
  position: relative;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 79px;
}

.navbar-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  background-color: #1a1c74;
}

.icon-parent {
  position: absolute;
  width: 89.74%;
  top: calc(50% - 19.5px);
  right: 5.13%;
  left: 5.13%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}
.navbar-item {
  position: absolute;
  height: 2.53%;
  width: 5.64%;
  top: 83.54%;
  right: 7.44%;
  bottom: 13.92%;
  left: 86.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.din-rute {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 844px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #1a1c74;
  font-family: Inter;
}
