/*applying "box-sizing: border-box;" globally to all elements*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
#map {
  display: flex;
  width: 100%;
  height: 650px; /* or any other suitable height */
}
.flag-icon {
  position: relative;
  left: 10px;
  background-color: red;
}
gmp-map {
  height: 100%;
  width: 100%;
  z-index: 5;
}

.innhold {
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  background-color: #fff;
  overflow: hidden;
  line-height: 20px;
  color: #1a1c74;
  text-align: center;
}

.maps {
  display: flex;
  width: 100%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #1a1c74;
  border-radius: 20px;
  position: relative;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
.email-address {
  display: flex;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  font-size: 16px;
  width: 100%;
}

.kart {
  position: relative; /* Needed for absolute positioning inside */
}

.varsling-container {
  position: absolute;
  bottom: 100px; /* Adjust as needed to position correctly */
  left: 32px; /* Adjust to not overlap unwanted elements */
  z-index: 10; /* Higher than the map to overlay it */
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.infotekst {
  margin-left: 5px; /* Spacing between icon and text */
}

.fa-triangle-exclamation {
  font-size: 24px;
  display: flex;
  overflow: hidden;
  padding: 6px;
  color: #f49e00;
  justify-content: center;
}
.varsling {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  background-color: #fff;
  border: 1px solid hsl(238, 46%, 41%);
  box-sizing: border-box;
  width: max-content;
  padding: 2px 5px;
}

.infotekst {
  font-size: 12px;
  margin-top: 12px;
  text-align: left;
}
.fa-snowflake {
  font-size: 24px;
  display: flex;
  overflow: hidden;
  padding: 6px;
  color: #004cdf;
  justify-content: center;
}

.varsling .fa-exclamation-triangle {
  font-size: 24px;
  display: flex;
  overflow: hidden;
  padding: 6px;
  color: #f49e00;
  justify-content: center;
}
