.maps-icon {
  position: absolute;
  top: 215px;
  left: 0px;
  width: 390px;
  height: 561px;
  object-fit: cover;
}
.kart {
  position: absolute;
  top: 67px;
  left: 161px;
  font-size: 32px;
  line-height: 36px;
  color: #1a1c74;
}
.karttype-child {
  position: absolute;
  top: 122px;
  left: 0px;
  max-height: 100%;
  width: 390px;
}
.email-address {
  position: relative;
  line-height: 20px;
}
.inactivedefault-input {
  position: absolute;
  top: 129px;
  left: 30px;
  border-radius: 20px;
  border: 1px solid #383b97;
  box-sizing: border-box;
  width: 326px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 18px 20px;
  font-size: 16px;
  color: #383b97;
}
.karttype-item {
  position: absolute;
  top: 332px;
  left: 47px;
  width: 61px;
  height: 55px;
  object-fit: contain;
}
.karttype-inner {
  position: absolute;
  top: 518.83px;
  left: 215.12px;
  width: 38.7px;
  height: 100.2px;
  object-fit: contain;
}
.vector-icon {
  position: absolute;
  top: 301px;
  left: 24px;
  width: 6px;
  height: 11px;
  object-fit: contain;
}
.iconsolidexclamation {
  position: absolute;
  height: 7.11%;
  width: 15.38%;
  top: 63.86%;
  right: 20.51%;
  bottom: 29.03%;
  left: 64.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.snowflake-icon {
  position: absolute;
  top: 291px;
  left: 64px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.group-child {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 18px;
  background-color: #fff;
  border: 1px solid #383b97;
  box-sizing: border-box;
  width: 184px;
  height: 36px;
}
.moderat-k-langs {
  position: absolute;
  top: 13px;
  left: 35px;
  line-height: 12px;
  font-weight: 500;
  display: inline-block;
  width: 144px;
  height: 11px;
}
.kart-varsling-icon {
  position: absolute;
  top: 6px;
  left: 11px;
  width: 24px;
  height: 24px;
}
.rectangle-parent {
  position: absolute;
  top: 720px;
  left: 34px;
  width: 184px;
  height: 36px;
}
.group-item {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 18px;
  background-color: #fff;
  border: 1px solid #383b97;
  box-sizing: border-box;
  width: 263px;
  height: 36px;
}
.glatt-og-lite {
  position: absolute;
  top: 13px;
  left: 35px;
  line-height: 12px;
  font-weight: 500;
}
.snowflake-icon1 {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.rectangle-group {
  position: absolute;
  top: 675px;
  left: 34px;
  width: 263px;
  height: 36px;
}
.iconsolidinformation-circle {
  position: absolute;
  top: 240px;
  left: 317px;
  width: 43px;
  height: 43px;
  overflow: hidden;
}
.navbar-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  background-color: #1a1c74;
}
.icon {
  width: 40px;
  position: relative;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.icon1 {
  width: 32px;
  position: relative;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.car-icon {
  width: 32px;
  position: relative;
  height: 25.6px;
}
.icon-parent {
  position: absolute;
  width: 89.74%;
  top: calc(50% - 19.5px);
  right: 5.13%;
  left: 5.13%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.navbar-item {
  position: absolute;
  height: 2.53%;
  width: 5.64%;
  top: 83.54%;
  right: 67.18%;
  bottom: 13.92%;
  left: 27.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.navbar {
  position: absolute;
  width: 100%;
  right: 0px;
  bottom: -2px;
  left: 0px;
  height: 79px;
}
.karttype {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 844px;
  overflow: hidden;
  text-align: left;
  font-size: 12px;
  color: #000;
  font-family: Inter;
}
