.registrer-deg {
  margin: 0 32px;
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #fff;
  overflow: hidden;
  text-align: left;
  color: #1a1c74;
  box-sizing: border-box;
  justify-content: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
  font-size: 133%;
  color: #383b97;
  margin-top: 20px;
}

.input-field {
    width: 100%; /* Full width of its container */
    padding: 5%; /* Adequate padding for text */
    border-radius: 20px; /* Consistent with .input-container border radius */
    border: 1px solid #383b97; /* Matching the border as defined for .input-container */
    font-size: 133%; /* Adequate font size, adjust as needed */
    box-sizing: border-box;
  }
  
  .with-icon input {
    flex-grow: 1; /* Allows the input to grow, filling space beside the icon */
    border: none;
  }
  
  .input-container.with-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #383b97;
  justify-content: space-between;
}

.with-icon {
  justify-content: space-between;
}

.label {
  flex-grow: 1;
  margin-bottom: -1%;
}

.icon {
  color: #1a1c74;
  margin-right: 5%;
}



button {
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
  background-color: #1a1c74;
  border-radius: 8px;
  width: fit-content;
  padding: 5% 7.5%;
  cursor: pointer;
  font-size: 200%;
  color: #fff;
  text-align: center;
}

.help {
    text-align: center;
  }
